<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网络信息采集平台管理系统</title>
    <link type="text/css" rel="stylesheet" href="../../../utils/local-utils/requirement.css"/>
    <link type="text/css" rel="stylesheet" href="css/main_page.css"/>
    <script src="../../../utils/local-utils/requirement.js"></script>
    <script src="js/main_page.js"></script>
    <script src="js/main_page_style.js"></script>

    <!--<link rel="import" href="/index.html">-->

</head>
<body>
    <div id="menu_div" class=" base_float menu_div menu_div_collapse">
    <!--<div id="menu_div" class=" base_float menu_div menu_div_expansion">-->
        <div id="logo_div" class=" logo_div">
            <label id="logo_space" class="logo_collapse"></label>
        </div>
        <div id="menu_area_div" class=" menu_area_div">
            <ul class=" menu_list" id="menu_list">
                <!--<li id="gather" onclick="menu_click(this)" class="menu_img_li">-->
                    <!--<label root_menu_type="gather" class=" base_float menu_img gather_img"></label>-->
                    <!--<label class=" base_float root_menu_font" >采集管理</label>-->
                <!--</li>-->
                <!--<li id="gather_sons" class="son_menu_area">-->
                    <!--<label class=" base_float son_menu">页面浏览</label>-->
                    <!--<label class="son_menu">页面浏览</label>-->
                <!--</li>-->
                <!--<li id="gather_split" class=" split_label"></li>-->

                <li id="sign_out_area" class=" sign_out_li">
                    <label root_menu_type="gather" class="  base_float sign_out_img"></label>
                    <label class=" base_float sign_out_font"  >退出</label>
                </li>

            </ul>
        </div>

    </div><!-- menu_div -->
    <div id="title_div" class=" base_float title_div">
        <div id="title_space_div" class=" base_float "></div>
        <div id="title_user_div" class=" base_float title_user_div">
            <label class="user_pic base_float"></label>
            <span class="base_float user_nm_main">Brad Pitt</span></div>
    </div>
    <div id="main_div" class="base_float">
        <iframe id="main_frame" class="main_frame" frameborder="0" width="100%" height="100%" src=""></iframe>
    </div>
</body>
</html>