/*分页样式 Created by SongChaoqun 20170717*/

.paging_area{
    text-align: center;
    padding:0 5% 0 5%;
    height:80px;
    position: absolute;
    width:100%;
}
.paging{
    height:35px;
    line-height: 35px;
    text-align: center;
    display: block;
    padding:0;
}

.paging>li{
    width:40px;
    height:40px;
    border:2px solid #DBE1ED;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    list-style: none;
    text-align: center;
    line-height: 40px;
    /*float:left;*/
    margin:0 0px 0 10px;
    display:inline-block;
    padding:0;
    font-size: 18px;
}



.paging_li_check{
    color:#46CB41;
}

.paging_pre,.paging_next{
    border:0 !important;
    width:50px !important;
    height:50px !important;
    line-height: 50px !important;
    font-size: 20px;
    /*padding:3px 5px 0 5px !important;*/
    /*line-height: 25px !important;*/
}

.paging_pre>a,.paging_next>a{
    text-decoration:none;
}

.paging_pre{
    background: url("../image/btnlef_btn_listt.png") no-repeat;
    background-size: 50px 50px;
}
.paging_next{
    background: url("../image/btnright_btn_list.png") no-repeat;
    background-size: 50px 50px;
    text-decoration:none;
}